.skin-blue .main-header .logo:hover {
	background-color: #2ecc71 !important;
}
.skin-blue .main-header .logo {
	background-color: #27ae60 !important;
}

.mb-20{
	margin-bottom: 20px !important;
}
.requiredcss{
	color:red !important;
}
table {
	border-collapse: collapse;
}

.border-table{
	border: 1px solid #ddd !important;
	/*border: 1px solid rgba(255, 0, 0, .5);*/
	/*-webkit-background-clip: padding-box; !* for Safari *!*/
	/*background-clip: padding-box; !* for IE9+, Firefox 4+, Opera, Chrome *!*/
	/*border: 2px solid black !important;*/
}
.backgroundtable{
	background-color: #2980b9 !important;
	color:white;
}

/* old style for validation */
#result, #resultnopadding{
	border:0;
	padding:10px;
	position:fixed;
	color:white;
	background-color:#BC3C49;
	width:100%;
	display:none;
	text-align:left;
	z-index:99999;
	top: 0;
	/* overflow: auto;  */
}

#result ul, #resultnopadding ul { margin-left:10px; font-size:11pt; list-style: none; float: left; width:100%; }

#result ul:before, #resultnopadding ul:before { font-family: FontAwesome; content: "\f071"; float: left; margin-right: 10px; }

#result{ margin-left:230px; } #result ul{ padding-left:10px; }
#resultnopadding {  margin:0; }








